{{ define "main" }}
    {{ partial "header" . }}

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10">
                    <h1 class="mx-0 mx-md-4">{{ .Title }}</h1>

                    <div class="mb-md-4 meta">
                        {{ if not .Params.noauthor }}
                            {{ if (and (.Params.author) (ne .Params.author "Adam Garcia")) }}
                                <span class="author middot" title="{{ .Params.Author }}">
                                    {{ .Params.author }}
                                </span>
                            {{ end }}
                        {{ end }}

                        <span class="date middot" title='{{ .Date.Format "Mon Jan 2 2006 15:04:05 MST" }}'>
                            {{ .Date.Format  "January 2, 2006" }}
                        </span>

                        <span class="reading-time middot">
                            {{ .ReadingTime }} minute read
                        </span>
                    </div>

                    <div class="markdown">
                        {{ partial "content" . }}
                    </div>
                    
                    <div class="mx-4">
                        {{ if isset .Params "tags" }}
                            <div class="d-md-block tags mt-4">
                                <h4>Tags: </h4>
                                <ul class="list-unstyled d-inline">
                                    {{ range .Params.tags }}
                                        <li class="d-inline middot">
                                            <a href="{{ `/tags/` | relURL }}{{ . | urlize }}" class="text-info">{{ . }}</a>
                                        </li>
                                    {{ end }}
                                </ul>
                            </div>
                        {{ end }}
                            
                        {{ if isset .Params "series" }}
                            {{ $series :=  .Params.series | print }}
                            {{ $seriesURL := urlize $series }}
                            <div class="d-md-block series mt-3">
                                <h4>This post is part of the <a href="/series/{{$seriesURL}}">{{$series}}</a> series.</h4>
                            </div>
                            {{ $posts := index .Site.Taxonomies.series $seriesURL }}
                            {{ if (gt ($posts | len) 1)}}
                                <div>
                                    Keep reading: 
                                    <ul class="list-unstyled">
                                      {{ range where $posts "Title" "!=" .Title }}
                                        {{ partial "list" . }}
                                      {{ end }}
                                    </ul>  
                                </div>
                            {{ else }}
                                <div>
                                  No follow up posts yet. Check back soon!
                                </div> 
                            {{ end }}
                        {{ end }}
                    </div>

                    {{ if .Site.Params.posts_navigation }}
                        <div class="navigation">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    {{ if .PrevInSection }}
                                        <div class="mx-0 mx-md-4 mt-4 text-left">
                                            <a href="{{ .PrevInSection.Permalink }}">« {{ .PrevInSection.Title }}</a>
                                        </div>
                                    {{ end }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ if .NextInSection }}
                                        <div class="mx-0 mx-md-4 mt-4 text-right">
                                            <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} »</a>
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer" . }}
{{ end }}
