/* Center header and blurb */

/* Horizontally */
h2,
div.markdown p:first-child {
    text-align: center;
}
/* Vertically (ish) */
h2 {
  padding-top: calc(50vh - 150px);
}

/* Site title style */
h2 del {
    color: #bbbbbb;
}

/* Remove blurb border */
.content .markdown blockquote {
    border-left: none;
}