{{ define "main"}}
{{ partial "header.html" . }}
<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10">
        <div class="mx-0 mx-md-4">
          <!-- {{ partial "breadcrumb.html" (slice .URL) }} -->
          <h1>Posts <a href="/tags/">tagged</a> {{ lower .Title }}</h1>
            <ul class="list-unstyled">
              {{ range .Data.Pages.GroupByDate "2006" "desc"}}
                <li class="groupby">{{ .Key }}</li>
                  {{ range sort .Pages "Date" "desc" }}
                    {{ partial "list" . }}
                {{ end }}
              {{ end }}
            </ul>
<!--           <hr>
          <p>
            <a href="/tags/">Tags</a>
            <br/>
            <a href="/series/">Series</a>
          </p> -->
        </div>
      </div>
    </div>
  </div>
</div>


  {{ partial "footer.html" . }}

  <script type="text/javascript">
    document.getElementById("blog").getElementsByTagName("span")[0].classList.add("active");
    document.getElementById("tags").classList.add("active");
  </script>
{{ end }}