{{ define "main"}}
{{ partial "header.html" . }}
<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10">
        <div class="mx-0 mx-md-4">
          {{ $taxo := .Name }}
          <h3>{{ $taxo }}</h3>
              <ul class="list-unstyled">
              {{ $data := .Data }}
              
              <!-- Tags list -->
              {{ if eq $taxo "Tags" }}
                {{ range $key, $value := .Data.Terms.ByCount }}
                  {{ if ne $value.Name "" }}
                    <li class="h5">
                      <a href="{{ $value.Name | urlize }}">{{ $value.Name | humanize }}</a>
                      <span class="ml-1">
                        {{ $value.Count }}
                      </span>
                    </li>
                  {{ end }}
                {{ end }}

              {{ else if eq $taxo "Series"}}

              <!-- Series list -->
                {{ range $key, $value := .Data.Terms.ByCount }}
                  <li class="h5">
                    <a href="{{ $value.Name | urlize }}">{{ $value.Name | humanize }}</a>
                  {{ range last 1 $value.Pages }}
                    <!-- <span class="ml-1">{{ dateFormat "January 2" .Params.Date }}</span> -->
                    <p>
                      <small class="font-weight-normal text-muted">{{ .Params.series_description }}</small>
                    </p>
                  {{ end }}
                  </li>
                {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ partial "footer.html" . }}
{{ end }}